*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.start{
    color: blueviolet;
    text-align:center;
    margin-top: 20px;
}
.fa {
    padding: 5px;
    font-size: 40px;
    width: 60px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: black;
    
    color: blue;
  }
  .fa-google {
    background: black;
    
    color: blue;
  }
  .fa-instagram {
    background: black;
    
    color: blue;
  }
  .footer{
    width: 100%;
    background-color: black;
    height: 100px;
    bottom: 0;
    padding-top: 5px;
    padding-left: 5px;
    clear: both;
    margin-top: 300px;
}
.footer h5{
    color: white;

}
.footer .call{
    color: red;
}
.info{
    width: 100vh;
    height: auto;
    text-align: center;
    margin: auto;
   
}
.start1{
    color: red;
    text-align:center;
    margin-top: 20px;
}
#pwd{
    width: 600px;
    
    
}
button{
    margin-top: 10px;
    margin-left: 10px;
}
form{
    margin-left: 30%;
    margin-top: 40px;
}